{% extends "seller/seller_base.html" %}
{% block content %}
<div id="dashboard_body" style="height: auto !important;">
    <h1 style="color: white;">Edit product</h1>
    <div class="" id="add_product_form_container">
        <form action="" method="POST" class="mb-4 px-3 py-3" enctype="multipart/form-data" style="font-weight:bold;color: white; height: 100%;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mx-3 px-4" id="submit_product_btn"
            style="background-color: rgb(240, 130, 130);color: white;font-weight: bold; border: none;">Add product</button>

            <a class="btn btn-primary px-5" href="/products"
            style="background-color: rgb(249, 226, 226);color: rgb(217, 145, 145);font-weight: bold; border: none;">
                Cancel
            </a>
            <div class="my-3">
                <div class="my-3">
                    <h3>Availability</h3>
                    {% for av in availability %}
                        <p style="display: inline-block;">{{av.store.location}}</p> - <a style="color: white; text-decoration: underline;" href="/delete_availability?id={{av.id}}" >Delete</a>
                    {% endfor %}
                    <div class="col"><a href="/add_availability?id={{product.id}}" class="form-control btn" id="add_product_btn">Add availability to product</a></div>
                
                </div>
                <div class="my-5">
                    <h3>Specification</h3>
                    {% for s in specifications %}
                        <p style="display: inline-block;">{{s.product_property.name}} - {{s.value}}</p>- <a style="color: white; text-decoration: underline;" href="/delete_spec?id={{s.id}}">Delete</a>
                    {% endfor %}
                    <div class="col"><a href="/add_specification?id={{product.id}}" class="form-control btn" id="add_product_btn">Add specification to product

                    </a></div>
                </div>
            </div>

        </form>
        
    </div>
    
</div>
{% endblock %}