{% extends "base.html" %}
{% block main %}
<div style="background-color: rgb(240, 185, 185); height: 100%;">
<nav class="navbar navbar-expand-lg navbar-light px-3 d-flex justify-content-center">
    <a class="navbar-brand fw-bold" style="font-size: 35px; color: white;" href="/">Sparkles</a>
</nav>

<div style="width: 100%;" class="d-flex justify-content-center">
    <div id="logout" class="m-5 p-5">
      <h5 class="text-center p-2" style="color: white;">You have succesfully logged out.</h5>
        
      </div>
  </div>
  </div>
</div>
{% endblock %}