{% extends "seller/seller_base.html" %}
{% block content %}
<div id="dashboard_body">
    <div class="row mx-5 py-5">
        <div class="col"><h2 style="color: rgb(151, 97, 97);">Order list</h2></div>
        <div class="col mx-5">
            <div class="d-flex form-inputs">
            <input class="form-control" type="text" placeholder="Search any product...">
            <i class="bx bx-search"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="table_header">
            <div class="col-md-2">ID</div>
            <div class="col-md-6">User</div>
            <div class="col-md-2">Details</div>
        </div>
        <div class="row table_rows">
            <div class="col-md-2">ID</div>
            <div class="col-md-6">User</div>
            <div class="col-md-2">See more</div>
        </div>
        <div class="row">

        </div>
        
    </div>
</div>
{% endblock %}