{% extends "seller/seller_base.html" %}
{% block content %}
<div id="dashboard_body"  style="height: 100%;">
    <div class="row mx-5 py-5">
        <div class="col"><h2 style="color: rgb(151, 97, 97);">Order list</h2></div>
        <div class="col mx-5">
            <div class="d-flex form-inputs">
            <input class="form-control" type="text" placeholder="Search any product...">
            <i class="bx bx-search"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="table_header">
            <div class="col-md-3">ID</div>
            <div class="col-md-6">User</div>
            <div class="col-md-3">Details</div>
        </div>
        {% for order in orders %}
        <div class="row table_rows">
            <div class="col-md-3">{{order.id}}</div>
            <div class="col-md-6">{{order.user.username}}</div>
            <div class="col-md-3"><a href="/order_details?id={{order.id}}">See more</a></div>
        </div>
        {% endfor %}
        
        
    </div>
</div>
{% endblock %}