{% extends "seller/seller_base.html" %}
{% block content %}
<div id="dashboard_body">
    <div class="row mx-5 py-5">
        <div class="col"><h2 style="color: rgb(151, 97, 97);">Product list</h2></div>
        <div class="col mx-5">
            <div class="d-flex form-inputs">
            <input class="form-control" type="text" placeholder="Search any product...">
            <i class="bx bx-search"></i>
            </div>
        </div>
        <div class="col"><a href="/add_product"><button id="add_product_btn" class="form-control btn">Add product</button></a></div>

    </div>
    <div class="container">
        <div class="row" id="table_header">
            <div class="col-md-2">ID</div>
            <div class="col-md-6">Name</div>
            <div class="col-md-2">Quantity</div>
            <div class="col-md-2">Details</div>
        </div>
            {% for product in products %}
                <div class="row table_rows">
                    <div class="col-md-2">{{product.id}}</div>
                    <div class="col-md-6">{{product.name}}</div>
                    <div class="col-md-2">{{product.quantity}}</div>
                    <div class="col-md-2"><a href="/product_details?id={{product.id}}">See more</a></div>
                </div>
            {% endfor %}
        
        
    </div>
</div>
{% endblock %}