{% extends "../base.html" %}
{% block main %}
<nav class="navbar navbar-expand-lg navbar-light px-3 d-flex justify-content-around" id="seller-nav" style="background-color: rgb(240, 185, 185);">
    <div class="navbar-brand fw-bold" style="font-size: 35px; color: white;"><a href="/dashboard">Sparkles</a></div>
    <div class="navbar-brand fw-bold" style="font-size: 20px; color: rgb(125,61,61); border-bottom: solid 2px rgb(221,143,143);">
        <a href="/users">Manage users</a></div>
    <div class="navbar-brand fw-bold" style="font-size: 20px; color: rgb(125,61,61); border-bottom: solid 2px rgb(221,143,143); ">
        <a href="/products">Manage products</a></div>
    <div class="navbar-brand fw-bold" style="font-size: 20px; color: rgb(125,61,61); border-bottom: solid 2px rgb(221,143,143);">
        <a href="/orders">Manage orders</a></div>
    <div class="navbar-brand fw-bold" style="font-size: 15px; color: rgb(255,255,255);">
        <div style="position: absolute; top: 0; right:0;" class="mx-4 my-1">Welcome, admin</div>
    </div>  
  </nav>
    {% block content %}
    {% endblock %}
{% endblock %}