{% extends "base.html" %}
{% block main %}
<div id="seller_login_body">
<nav class="navbar navbar-expand-lg navbar-light px-3 d-flex justify-content-center">
    <a class="navbar-brand fw-bold" style="font-size: 35px; color: white;" href="/">Sparkles</a>
</nav>
<div style="width: 100%;" class="d-flex justify-content-center">
  <div id="login" class="m-5 p-5">
    <h5 class="text-center p-2">Admin login</h2>
    <form class="form-horizontal" name="LoginForm" action="/user_login/" method="post">
    {% csrf_token %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
            <input type="text" id="username" name="username" class="form-control" placeholder="Username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
        </div>
    </div>
    <div class="control-group">
        <div class="controls m-3">
            <button type="submit" class="form-control btn" id="admin_login_btn">Login</button>
        </div>
    </div>
    </form>
    </div>
</div>
</div>
{% endblock %}