{% extends "user/user_base.html" %}
{% load static %}
{% block content %}
<!-- Slideshow container -->
<div class="my-4">
  <div class=" w-100">
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade" style="display: block; opacity: 1;">
          <img src="{% static 'images/img1.png' %}" style="width:100%">
        </div>
      
        <div class="mySlides fade" style="display: none; opacity: 1;">
          <img src="{% static 'images/img2.png' %}" style="width:100%">
        </div>
      
        <div class="mySlides fade" style="display: none; opacity: 1;">
          <img src="{% static 'images/img3.png' %}" style="width:100%">
        </div>
      
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>
      
      <!-- The dots/circles -->
      <!-- <div style="text-align:center">
        <span class="dot active" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div> -->
  </div>
  <div>
    <h2 class="text-center my-3">New arrivals</h1>
  </div>
  
  <div class="d-flex flex-row justify-content-evenly align-items-center my-5">
    {% for product in latest_products %}
  <div class="card_custom  p-5" style="width: 18rem;">
      <img src="{{product.image.url}}" class="card-img-top" alt="..." style="height:200px">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.price}}</p>
        <div class="d-flex justify-content-center">
          <a href="#" onclick="addToCart(1,'{{product.id}}')" class="btn add_cart_btn add_cart_btn_hp">Add to cart</a>
      </div>      </div>
    </div>
  {% endfor %}

  </div>
</div>
{% if  not user.is_authenticated %}        
<div class="register_banner my-5" style="height: 20rem;">
  <div class="row h-100">
    <div class="col d-flex align-items-center justify-content-center">
      <h1 class="text-center w-75">Join the Sparkles family and enjoy your shopping!</h1>
    </div>
    <div class="col d-flex flex-row justify-content-center align-items-center">
      <a class="btn banner_register_now" href="/register">Register now</a>
    </div>
  </div>
</div>
{% endif %}



{% endblock %}