{% extends "user/user_base.html" %}
{% load static %}
{% block content %}
<div>
<div class="row m-5">
    <div class="col p-5 bg-light d-flex align-items-center justify-content-center">
        <img src="{{product.image.url}}" width="75%"/>
    </div>
    <div class="col p-5">
        <div class="row my-5">
            <div class="my-3">
                <h2>{{product.name}}</h2>
            </div>
            <div class="my-3">
            <h4>{{product.price}}$</h4>
            </div>
            <h5 style="display: inline-block" class="w-25">Quantity:</h5> <input min="1" max="{{product.quantity}}" id="product_qty" style="display: inline-block" class="w-25" type="number">
        </div>
        <div class="row my-5 py-5">
            <a onclick="addToCart(-1,'{{product.id}}')" class="btn add_cart_btn btn_product_details_cart my-5">Add to cart</a>
        </div>
    </div>
    
</div>
<div class="row">

</div>
</div>

<div class="tab mx-5">
    <button class="tablinks" onclick="openProperty(event, 'Description')">Description</button>
    <button class="tablinks" onclick="openProperty(event, 'Specification')">Specification</button>
    <button class="tablinks" onclick="openProperty(event, 'Comments')">Comments</button>
    <button class="tablinks" onclick="openProperty(event, 'Availability')">Availability</button>
    
</div>
    <!-- Tab content -->
    <div id="Description" class="tabcontent mx-5">
        <h3>Description</h3>
        <p class="my-3">{{product.description}}</p>
      </div>
      
      <div id="Specification" class="tabcontent mx-5">
        <h3>Specification</h3>
        {% for specification in specifications %}

        <div class="row" style="border-bottom: 1px gray solid;">
            <div class="col my-2">
                {{specification.product_property.name}}
            </div>
            <div class="col my-2">
                {{specification.value}}
            </div>
        </div>
        {% endfor %}
      </div>
      <div id="Comments" class="tabcontent mx-5">
        <h3>Comments</h3>
        {% if show_field and user.is_authenticated %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="form-control btn" id="admin_login_btn">Add comment</button>

        </form>
        {% endif %}
        {% for comment in comments %}
        <div class="row" style="border-bottom: 1px rgb(191, 157, 157) solid;">
            <span style="font-weight: bold; color: rgb(181, 79, 79);">{{comment.user.username}}</span> - {{comment.content}}
        </div>
        {% endfor %}
      </div>
      <div id="Availability" class="tabcontent mx-5">
        <h3>Availability</h3>
        {% for store in availability %}

        <div class="row my-3 py-3" style="border-bottom: 1px gray solid;">
            {{store.store.location}}
        </div>
        {% endfor %}
      </div>

{% endblock %}
