{% extends "user/user_base.html" %}
{% load static %}
{% block content %}

<h1 class="m-5">Shopping cart</h1>

<div class="w-100">
    {% for sc in products %}
        <div class="row card_custom p-5 m-5 w-75">
            <div class="col m-3">
                <a href="/product?id={{sc.product.id}}">
                    <img src="{{sc.product.image.url}}" class="card-img-top" alt="..." style="width:200px">
                </a>
            </div>
            <div class="col m-3">
                <div class="card-body">
                    <div class="row">
                    <div class="col-md-9">
                        <h5 class="card-title">{{sc.product.name}}</h5>
                    </div>
                    <div class="col">
                        <a href="" onclick="delete_sc_product('{{sc.id}}')">
                            <h6>X</h6>
                        </a>
                    </div>
                  </div>
                    <p class="card-text my-5"><span id="{{forloop.counter0}}_price">{{sc.product.price}}</span>$</p>

                    <span>Quantity: </span><input id="{{forloop.counter0}}_qty" min="1" max="{{sc.product.quantity}}" onchange="updateValue(event, '{{sc.id}}')" value="{{sc.quantity}}" type="number" class="form-control w-25" style="display: inline-block;"/>
                </div>
            </div>

          </div>
    {% endfor %}
    <div class="mx-5">
        <h3>Total: <span id="total_price">{{total_price}}</span>$</h3>
    </div>
</div>
{% if products|length is not 0 %}
<div class="d-flex flex-row justify-content-end mx-5 w-75">
    <a class="btn proceed_btn" href="/checkout">Proceed</a>
</div>
{% endif %}
{% endblock %}